html {
    font-size: 0.9rem;
}   
.hamba-slide-1 {
    background-image: linear-gradient(to right, #f55220,  #f8b4a4);
} 
.hamba-slide-2,
.hamba-slide-3 {
    background-image: linear-gradient(to right, #1e8045,  #44d890);
}
.category-section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.categories {
    margin-top: 50px;
}
.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.category-item:hover {
    background: rgb(250, 129, 15);
    color: #fff;
}
.category-item:hover > h3 {
    color: #fff;
}
.category-item img {
    width: 30%;
}